.banner {
    background: url("https://www.ubaya.ac.id/2018/up/artikel/257_20190109092908.jpg") no-repeat center center;
    background-size: cover;
    padding-left: 10%;
    padding-bottom: 30%;
    color:#fff;
}

.img {
    size: 20cm 20cm 20cm 20cm;
}
